@model DataBaseUniv.Models.Class

@{
    ViewData["Title"] = "Повна інформація";
}

<h1>Повна інформація</h1>

<div>
    <h4>Заняття</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cource.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися назад</a>
</div>
